<%- include('../partials/header') %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpBook!</h1>
            <p>View our hand-picked books from all over the world</p>
            <p>
                <a class="btn btn-primary btn-large" href="/books/new">Add New Book</a>
            </p>
        </div>
    </header>

    <div class="row" style="display: flex; flex-wrap: wrap;">
        <div class="col-lg-12">
            <h3>Our Most Popular Books!</h3>
        </div>
            <div class="table">
                <div id="cardRow" class="row">
                <% books.forEach(function(book){ %>
                    <div id="cardColumn" class="col-md-3 col-sm-6">
                        <div class="card">
                            <img class="card-img-top" src="<%=book.image %>">
                            <div class="card-block">
                                <div class="card-title">
                                        <h4><%= book.name %> </h4>
                                </div>
                                <div class="card-footer text-center">
                                        <a href="/books/<%= book._id %>" class="btn btn-primary">More Info</a>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <% }) %>
                 </div>
             </div>
     

    </div>
</div>

<%- include('../partials/footer') %>